dagster
dagster-webserver
dvc[s3]==3.67.1
clickhouse-driver
psycopg2-binary
pandas
pyarrow
pyspark==4.1.1
great_expectations==1.20.0
zstandard==0.25.0
requests
python-dotenv
minio==7.2.20
PyYAML
GitPython
