streamlit>=1.61.0
pandas==2.2.2
requests==2.32.3
pyarrow==17.0.0
clickhouse-connect==1.7.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
folium==0.17.0
streamlit-folium==0.23.1
scipy==1.14.1
minio==7.2.20
beautifulsoup4==4.12.3
ollama
